<!-- <ul id="menu">
	<li data-menuanchor="firstPage"><a>First slide</a></li>
	<li data-menuanchor="secondPage"><a>Second slide</a></li>
	<li data-menuanchor="3rdPage"><a>Third slide</a></li>
	<li data-menuanchor="4thpage"><a>Fourth slide</a></li>
</ul> -->

<header>
	<div class="wrapper">
		<div>
			<img src="assets/img/LOGO_AT&T.png" alt="">
		</div>
		<div class="sub-wrapper">
			<span>
				<span>International Activation Report </span>
				<span class="color-disable">INAR v2</span>
			</span>
			<span class="align-right"> 
				<span class="color-disable">Run Date: </span>
				<span class="color-high">May 27, 2018</span>
			</span>
		</div>
	</div>
	<ul class="line">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
</header>

<div full-page options="vm.mainOptions">
  	<div class="section">
		<div class="wrapper-daily">
			<div class="title-table f-18">
				<span class="color-blue">Daily report</span> 
				<span class="color-disable">of </span>
				<span class="color-high">May 26, 2018</span>
			</div>

			<span class="wrapper-table">
					<table class="daily">
							<thead>
								<tr>
									<td>Serv Cat</td>
									<td class=""><span class="align-left">New Adds</span> <b class=" f-20">+</b></td>
									<td class=""><span class="align-left">Add-Ons</span> <b class=" f-20">+</b></td>
									<td class=""><span class="align-left">Reacts</span> <b class=" f-20">=</b></td>
									<td> <span class="align-left"><b> Gross Adds</b></span> <b class=" f-20">-</b></td>
									<td class=""><span class="align-left">Deacts</span> <b class=" f-20">+</b></td>
									<td class=""><span class="align-left">Mig</span> <b class=" f-20">=</b></td>
									<td> <span class="align-left"><b>Net</b></span> </td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in inar.daily.list">
									<td>{{row.servCat}}</td>
									<td class="gray-light">{{row.newAdds | number}}</td>
									<td class="gray-light">{{row.addOns | number}}</td>
									<td class="gray-light">{{row.reacts | number}}</td>
									<td><b class="color-medium">{{row.grossAdds | number}}</b></td>
									<td class="gray-light">{{row.deacts | number}}</td>
									<td class="gray-light">{{row.mig | number}}</td>
									<td><b class="">{{row.net | number}}</td>
								</tr>
								<tr>
									<td class="gray-light"><b>{{inar.daily.total.servCat | number}}</b></td>
									<td class="gray-light">{{inar.daily.total.newAdds | number}}</td>
									<td class="gray-light">{{inar.daily.total.addOns | number}}</td>
									<td class="gray-light">{{inar.daily.total.reacts | number}}</td>
									<td><b>{{inar.daily.total.grossAdds}}</b></td>
									<td class="gray-light">{{inar.daily.total.deacts | number}}</td>
									<td class="gray-light">{{inar.daily.total.mig | number}}</td>
									<td><b>{{inar.daily.total.net}}</b></td>
								</tr>
							</tbody>
						</table>
						<br>
						<br>
						<table class="daily">
								<tbody>
									<tr ng-repeat="row in inar.daily.ext">
										<td>{{row.servCat}}</td>
										<td class="gray-light">{{row.newAdds | number}}</td>
										<td class="gray-light">{{row.addOns | number}}</td>
										<td class="gray-light">{{row.reacts | number}}</td>
										<td>{{row.grossAdds | number}}</td>
										<td class="gray-light">{{row.deacts | number}}</td>
										<td class="gray-light">{{row.mig | number}}</td>
										<td><b class="">{{row.net | number}}</td>
									</tr>
								<tbody>
						</table>
			</span>
			<span class="wrapper-info">
				<table class="daily">
					<thead>
						<tr>
							<td>Serv Cat</td>
							<td class="color-disable"><span class="align-left">New Adds</span> <b class="color-disable f-20">+</b></td>
							<td class="color-disable"><span class="align-left">Add-Ons</span> <b class="color-disable f-20">+</b></td>
							<td class="color-disable"><span class="align-left">Reacts</span> <b class="color-disable f-20">=</b></td>
							<td> <span class="align-left"><b> Gross Adds</b></span> <b class="color-disable f-20">-</b></td>
							<td class="color-disable"><span class="align-left">Deacts</span> <b class="color-disable f-20">+</b></td>
							<td class="color-disable"><span class="align-left">Mig</span> <b class="color-disable f-20">=</b></td>
							<td> <span class="align-left"><b>Net</b></span> </td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in inar.daily.list">
							<td>{{row.servCat}}</td>
							<td class="gray-light">{{row.newAdds | number}}</td>
							<td class="gray-light">{{row.addOns | number}}</td>
							<td class="gray-light">{{row.reacts | number}}</td>
							<td><b class="color-medium">{{row.grossAdds | number}}</b></td>
							<td class="gray-light">{{row.deacts | number}}</td>
							<td class="gray-light">{{row.mig | number}}</td>
							<td><b class="color-medium">{{row.net | number}}</td>
						</tr>
						<tr>
							<td class="gray-light"><b>{{inar.daily.total.servCat | number}}</b></td>
							<td class="gray-light">{{inar.daily.total.newAdds | number}}</td>
							<td class="gray-light">{{inar.daily.total.addOns | number}}</td>
							<td class="gray-light">{{inar.daily.total.reacts | number}}</td>
							<td><b>{{inar.daily.total.grossAdds | number}}</b></td>
							<td class="gray-light">{{inar.daily.total.deacts | number}}</td>
							<td class="gray-light">{{inar.daily.total.mig | number}}</td>
							<td><b>{{inar.daily.total.net | number}}</b></td>
						</tr>
					</tbody>
				</table>
				<br>
				<br>
				<table class="daily">
						<tbody>
							<tr ng-repeat="row in inar.daily.ext">
								<td>{{row.servCat}}</td>
								<td class="gray-light">{{row.newAdds | number}}</td>
								<td class="gray-light">{{row.addOns | number}}</td>
								<td class="gray-light">{{row.reacts | number}}</td>
								<td><b class="color-medium">{{row.grossAdds | number}}</b></td>
								<td class="gray-light">{{row.deacts | number}}</td>
								<td class="gray-light">{{row.mig | number}}</td>
								<td><b class="color-medium">{{row.net | number}}</td>
							</tr>
						<tbody>
				</table>
			</span>
		</div>

	</div>
	<div class="section">
		<div class="wrapper-monthly	">
			<div class="title-table f-18">
				<span class="color-blue">Monthly report</span> 
				<span class="color-disable">of </span>
				<span class="color-high">May 01, 2018</span>
				<span class="color-disable">to </span>
				<span class="color-high">May 26, 2018</span>
			</div>
			
			<span class="wrapper-table">
				<table class="daily monthly">
				<thead>
					<tr>
						<td class="b-blue-right">Serv Cat</td>
						<td class="text-left b-blue-right b-blue-top"> <span>All times</span><br/> <b class="color-high">Begin Units</b></td>
						<td class="color-disable"><span class="align-left">New Adds</span> <b class="color-disable f-20">+</b></td>
						<td class="color-disable"><span class="align-left">Add-Ons</span> <b class="color-disable f-20">+</b></td>
						<td class="color-disable"><span class="align-left">Reacts</span> <b class="color-disable f-20">=</b></td>
						<td> <span class="align-left"><b> Gross Adds</b></span> <b class="color-disable f-20">-</b></td>
						<td class="color-disable"><span class="align-left">Deacts</span> <b class="color-disable f-20">+</b></td>
						<td class="color-disable"><span class="align-left">Mig</span> <b class="color-disable f-20">=</b></td>
						<td class="b-blue-right"> <span class="align-left"><b>Net</b></span> </td>
						<td class="text-left b-blue-right b-blue-top"> <span>All times</span><br/> <b class="color-high">End Units</b></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in inar.monthly.list">
						<td class="b-blue-right">{{row.servCat}}</td>
						<td class="b-blue-right"><b class="color-medium">{{row.beginUnits | number}}</b></td>
						<td class="gray-light">{{row.newAdds | number}}</td>
						<td class="gray-light">{{row.addOns | number}}</td>
						<td class="gray-light">{{row.reacts | number}}</td>
						<td><b class="color-medium">{{row.grossAdds | number}}</b></td>
						<td class="gray-light">{{row.deacts | number}}</td>
						<td class="gray-light">{{row.mig | number}}</td>
						<td class="b-blue-right"><b class="color-medium">{{row.net | number}}</td>
						<td class="b-blue-right"><b class="color-medium">{{row.endUnits | number}}</b></td>
					</tr>
					<tr>
						<td class="b-blue-right"><b>{{inar.monthly.total.servCat | number}}</b></td>
						<td class="b-blue-right b-blue-bottom"><b>{{inar.monthly.total.beginUnits | number}}</b></td>
						<td class="gray-light">{{inar.monthly.total.newAdds | number}}</td>
						<td class="gray-light">{{inar.monthly.total.addOns | number}}</td>
						<td class="gray-light">{{inar.monthly.total.reacts | number}}</td>
						<td><b>{{inar.monthly.total.grossAdds | number}}</b></td>
						<td class="gray-light">{{inar.monthly.total.deacts | number}}</td>
						<td class="gray-light">{{inar.monthly.total.mig | number}}</td>
						<td class="b-blue-right"><b>{{inar.monthly.total.net | number}}</b></td>
						<td class="b-blue-right b-blue-bottom"><b>{{inar.monthly.total.endUnits | number}}</b></td>
					</tr>
				</tbody>
				</table>
				<br>
				<br>
				<table class="daily monthly ext">
						<tbody>
							<tr ng-repeat="row in inar.monthly.ext">
								<td class="b-blue-right">{{row.servCat}}</td>
								<td class="gray-light b-blue-right"><b class="color-medium">{{row.beginUnits | number}}</b></td>
								<td class="gray-light">{{row.newAdds | number}}</td>
								<td class="gray-light">{{row.addOns | number}}</td>
								<td class="gray-light">{{row.reacts | number}}</td>
								<td><b class="color-medium">{{row.grossAdds | number}}</b></td>
								<td class="gray-light">{{row.deacts | number}}</td>
								<td class="gray-light">{{row.mig | number}}</td>
								<td class="b-blue-right"><b class="color-medium">{{row.net | number}}</td>
								<td class="b-blue-right"><b class="color-medium">{{row.endUnits | number}}</td>
							</tr>
						<tbody>
				</table>
			</span>
			<span class="wrapper-info">
				<table class="daily monthly">
					<thead>
						<tr>
							<td class="b-blue-right">Serv Cat</td>
							<td class="text-left b-blue-right b-blue-top"> <span>All times</span><br/> <b class="color-high">Begin Units</b></td>
							<td class="color-disable"><span class="align-left">New Adds</span> <b class="color-disable f-20">+</b></td>
							<td class="color-disable"><span class="align-left">Add-Ons</span> <b class="color-disable f-20">+</b></td>
							<td class="color-disable"><span class="align-left">Reacts</span> <b class="color-disable f-20">=</b></td>
							<td> <span class="align-left"><b> Gross Adds</b></span> <b class="color-disable f-20">-</b></td>
							<td class="color-disable"><span class="align-left">Deacts</span> <b class="color-disable f-20">+</b></td>
							<td class="color-disable"><span class="align-left">Mig</span> <b class="color-disable f-20">=</b></td>
							<td class="b-blue-right"> <span class="align-left"><b>Net</b></span> </td>
							<td class="text-left b-blue-right b-blue-top"> <span>All times</span><br/> <b class="color-high">End Units</b></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in inar.monthly.list">
							<td class="b-blue-right">{{row.servCat}}</td>
							<td class="b-blue-right"><b class="color-medium">{{row.beginUnits | number}}</b></td>
							<td class="gray-light">{{row.newAdds | number}}</td>
							<td class="gray-light">{{row.addOns | number}}</td>
							<td class="gray-light">{{row.reacts | number}}</td>
							<td><b class="color-medium">{{row.grossAdds | number}}</b></td>
							<td class="gray-light">{{row.deacts | number}}</td>
							<td class="gray-light">{{row.mig | number}}</td>
							<td class="b-blue-right"><b class="color-medium">{{row.net | number}}</td>
							<td class="b-blue-right"><b class="color-medium">{{row.endUnits | number}}</b></td>
						</tr>
						<tr>
							<td class="b-blue-right"><b>{{inar.monthly.total.servCat}}</b></td>
							<td class="b-blue-right b-blue-bottom"><b>{{inar.monthly.total.beginUnits | number}}</b></td>
							<td class="gray-light">{{inar.monthly.total.newAdds | number}}</td>
							<td class="gray-light">{{inar.monthly.total.addOns | number}}</td>
							<td class="gray-light">{{inar.monthly.total.reacts | number}}</td>
							<td><b>{{inar.monthly.total.grossAdds | number}}</b></td>
							<td class="gray-light">{{inar.monthly.total.deacts | number}}</td>
							<td class="gray-light">{{inar.monthly.total.mig | number}}</td>
							<td class="b-blue-right"><b>{{inar.monthly.total.net | number}}</b></td>
							<td class="b-blue-right b-blue-bottom"><b>{{inar.monthly.total.endUnits | number}}</b></td>
						</tr>
					</tbody>
				</table>
				<br>
				<br>
					<table class="daily monthly">
							<tbody>
								<tr ng-repeat="row in inar.monthly.ext">
									<td class="b-blue-right">{{row.servCat}}</td>
									<td class="gray-light b-blue-right"><b class="color-medium">{{row.beginUnits | number}}</b></td>
									<td class="gray-light">{{row.newAdds | number}}</td>
									<td class="gray-light">{{row.addOns | number}}</td>
									<td class="gray-light">{{row.reacts | number}}</td>
									<td><b class="color-medium">{{row.grossAdds | number}}</b></td>
									<td class="gray-light">{{row.deacts | number}}</td>
									<td class="gray-light">{{row.mig | number}}</td>
									<td class="b-blue-right"><b class="color-medium">{{row.net | number}}</td>
									<td class="b-blue-right"><b class="color-medium">{{row.endUnits | number}}</td>
								</tr>
							<tbody>
					</table>
				</span>
		</div>
	</div>
	<div class="section">
		<div class="wrapper-consmonthly">
			<div class="title-table f-18">
				<span class="color-blue">Consolidated monthly report</span> 
				<span class="color-disable">of </span>
				<span class="color-high">May 01, 2018</span>
				<span class="color-disable">to </span>
				<span class="color-high">May 26, 2018</span>
			</div>
		
			

			<span class="wrapper-table">
				<table class="daily monthly">
				<thead>
					<tr>
						<td class="b-blue-right">Serv Cat</td>
						<td class="text-left b-blue-right b-blue-top"> <span>All times</span><br/> <b class="color-high">Begin Units</b></td>
						<td class="color-disable"><span class="align-left">New Adds</span> <b class="color-disable f-20">+</b></td>
						<td class="color-disable"><span class="align-left">Add-Ons</span> <b class="color-disable f-20">+</b></td>
						<td class="color-disable"><span class="align-left">Reacts</span> <b class="color-disable f-20">=</b></td>
						<td> <span class="align-left"><b> Gross Adds</b></span> <b class="color-disable f-20">-</b></td>
						<td class="color-disable"><span class="align-left">Deacts</span> <b class="color-disable f-20">+</b></td>
						<td class="color-disable"><span class="align-left">Mig</span> <b class="color-disable f-20">=</b></td>
						<td class="b-blue-right"> <span class="align-left"><b>Net</b></span> </td>
						<td class="text-left b-blue-right b-blue-top"> <span>All times</span><br/> <b class="color-high">End Units</b></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in inar.consMonthly.list">
						<td class="b-blue-right">{{row.servCat}}</td>
						<td class="b-blue-right"><b class="color-medium">{{row.beginUnits | number}}</b></td>
						<td class="gray-light">{{row.newAdds | number}}</td>
						<td class="gray-light">{{row.addOns | number}}</td>
						<td class="gray-light">{{row.reacts | number}}</td>
						<td><b class="color-medium">{{row.grossAdds | number}}</b></td>
						<td class="gray-light">{{row.deacts | number}}</td>
						<td class="gray-light">{{row.mig | number}}</td>
						<td class="b-blue-right"><b class="color-medium">{{row.net | number}}</td>
						<td class="b-blue-right"><b class="color-medium">{{row.endUnits | number}}</b></td>
					</tr>
					<tr>
						<td class="b-blue-right"><b>{{inar.consMonthly.total.servCat | number}}</b></td>
						<td class="b-blue-right b-blue-bottom"><b>{{inar.consMonthly.total.beginUnits | number}}</b></td>
						<td class="gray-light">{{inar.consMonthly.total.newAdds | number}}</td>
						<td class="gray-light">{{inar.consMonthly.total.addOns | number}}</td>
						<td class="gray-light">{{inar.consMonthly.total.reacts | number}}</td>
						<td><b>{{inar.consMonthly.total.grossAdds | number}}</b></td>
						<td class="gray-light">{{inar.consMonthly.total.deacts | number}}</td>
						<td class="gray-light">{{inar.consMonthly.total.mig | number}}</td>
						<td class="b-blue-right"><b>{{inar.consMonthly.total.net | number}}</b></td>
						<td class="b-blue-right b-blue-bottom"><b>{{inar.consMonthly.total.endUnits | number}}</b></td>
					</tr>
				</tbody>
				</table>
				<ul class="grid-two">
						<li>
							<div class="title-table f-18">Internal Use</div>
							<table class="daily ext-min">
								<tbody>
										<tr ng-repeat="row in inar.consMonthly.internalUse">
											<td>{{row.company}}</td>
											<td>{{vm.isString(row.employee) ? row.employee : (row.employee | number)}}</td>
											<td>{{vm.isString(row.demo) ? row.demo : (row.demo | number)}}</td>
											<td>{{vm.isString(row.test) ? row.test : (row.test | number)}}</td>
											<td>{{vm.isString(row.roaming) ? row.roaming : (row.roaming | number)}}</td>
										</tr>
									<tbody>
							</table>
						</li>
						<li>
							<div class="title-table f-18">Non Commercial Base</div>
							<table class="daily ext-min">
								<tbody>
										<tr ng-repeat="row in inar.consMonthly.nonComercialBase">
												<td>{{row.company}}</td>
												<td>{{vm.isString(row.employee) ? row.employee : (row.employee | number)}}</td>
												<td>{{vm.isString(row.demo) ? row.demo : (row.demo | number)}}</td>
												<td>{{vm.isString(row.test) ? row.test : (row.test | number)}}</td>
										</tr>
									<tbody>
							</table>
						</li>
					</ul>
				<div class="title-table f-18">Churn</div>
				<table class="daily last-churn">
					<tbody>
							<tr>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Pospago(%):</span> <b class="f-14">{{inar.consMonthly.churn.pospago | number}}</b></td>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Prepago AT&T Total(%):</span> <b class="f-14">{{inar.consMonthly.churn.prepagoATTTotal | number}}</b></td>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Other(%):</span> <b class="f-14">{{inar.consMonthly.churn.other | number}}</b></td>
							</tr>
							<tr>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Prepago Unefon(%):</span> <b class="f-14">{{inar.consMonthly.churn.prepagoUnefon | number}}</b></td>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Prepago(%):</span> <b class="f-14">{{inar.consMonthly.churn.prepago | number}}</b></td>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">AT&T Total(%):</span> <b class="f-14">{{inar.consMonthly.churn.ATTTotal | number}}</b></td>
							</tr>
						<tbody>
					</table>
			</span>
			<span class="wrapper-info">
				<table class="daily monthly">
				<thead>
					<tr>
						<td class="b-blue-right">Serv Cat</td>
						<td class="text-left b-blue-right b-blue-top"> <span>All times</span><br/> <b class="color-high">Begin Units</b></td>
						<td class="color-disable"><span class="align-left">New Adds</span> <b class="color-disable f-20">+</b></td>
						<td class="color-disable"><span class="align-left">Add-Ons</span> <b class="color-disable f-20">+</b></td>
						<td class="color-disable"><span class="align-left">Reacts</span> <b class="color-disable f-20">=</b></td>
						<td> <span class="align-left"><b> Gross Adds</b></span> <b class="color-disable f-20">-</b></td>
						<td class="color-disable"><span class="align-left">Deacts</span> <b class="color-disable f-20">+</b></td>
						<td class="color-disable"><span class="align-left">Mig</span> <b class="color-disable f-20">=</b></td>
						<td class="b-blue-right"> <span class="align-left"><b>Net</b></span> </td>
						<td class="text-left b-blue-right b-blue-top"> <span>All times</span><br/> <b class="color-high">End Units</b></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in inar.consMonthly.list">
						<td class="b-blue-right">{{row.servCat | number}}</td>
						<td class="b-blue-right"><b class="color-medium">{{row.beginUnits | number}}</b></td>
						<td class="gray-light">{{row.newAdds | number}}</td>
						<td class="gray-light">{{row.addOns | number}}</td>
						<td class="gray-light">{{row.reacts | number}}</td>
						<td><b class="color-medium">{{row.grossAdds | number}}</b></td>
						<td class="gray-light">{{row.deacts | number}}</td>
						<td class="gray-light">{{row.mig | number}}</td>
						<td class="b-blue-right"><b class="color-medium">{{row.net | number}}</td>
						<td class="b-blue-right"><b class="color-medium">{{row.endUnits | number}}</b></td>
					</tr>
					<tr>
						<td class="b-blue-right"><b>{{inar.consMonthly.total.servCat | number}}</b></td>
						<td class="b-blue-right b-blue-bottom"><b>{{inar.consMonthly.total.beginUnits | number}}</b></td>
						<td class="gray-light">{{inar.consMonthly.total.newAdds | number}}</td>
						<td class="gray-light">{{inar.consMonthly.total.addOns | number}}</td>
						<td class="gray-light">{{inar.consMonthly.total.reacts | number}}</td>
						<td><b>{{inar.consMonthly.total.grossAdds | number}}</b></td>
						<td class="gray-light">{{inar.consMonthly.total.deacts | number}}</td>
						<td class="gray-light">{{inar.consMonthly.total.mig | number}}</td>
						<td class="b-blue-right"><b>{{inar.consMonthly.total.net | number}}</b></td>
						<td class="b-blue-right b-blue-bottom"><b>{{inar.consMonthly.total.endUnits | number}}</b></td>
					</tr>
				</tbody>
				</table>
				<ul class="grid-two">
					<li>
						<div class="title-table f-18">Internal Use</div>
						<table class="daily ext-min">
							<tbody>
									<tr ng-repeat="row in inar.consMonthly.internalUse">
										<td>{{row.company}}</td>
										<td>{{vm.isString(row.employee) ? row.employee : (row.employee | number)}}</td>
										<td>{{vm.isString(row.demo) ? row.demo : (row.demo | number)}}</td>
										<td>{{vm.isString(row.test) ? row.test : (row.test | number)}}</td>
										<td>{{vm.isString(row.roaming) ? row.roaming : (row.roaming | number)}}</td>
									</tr>
								<tbody>
						</table>
					</li>
					<li>
						<div class="title-table f-18">Non Commercial Base</div>
						<table class="daily ext-min">
							<tbody>
									<tr ng-repeat="row in inar.consMonthly.nonComercialBase">
										<td>{{row.company}}</td>
										<td>{{vm.isString(row.employee) ? row.employee : (row.employee | number)}}</td>
										<td>{{vm.isString(row.demo) ? row.demo : (row.demo | number)}}</td>
										<td>{{vm.isString(row.test) ? row.test : (row.test | number)}}</td>
									</tr>
								<tbody>
						</table>
					</li>
				</ul>
				<div class="title-table f-18">Churn</div>
				<table class="daily last-churn">
					<tbody>
							<tr>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Pospago(%):</span> <b class="f-14">{{inar.consMonthly.churn.pospago | number}}</b></td>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Prepago AT&T Total(%):</span> <b class="f-14">{{inar.consMonthly.churn.prepagoATTTotal | number}}</b></td>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Other(%):</span> <b class="f-14">{{inar.consMonthly.churn.other | number}}</b></td>
							</tr>
							<tr>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Prepago Unefon(%):</span> <b class="f-14">{{inar.consMonthly.churn.prepagoUnefon | number}}</b></td>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">Prepago(%):</span> <b class="f-14">{{inar.consMonthly.churn.prepago | number}}</b></td>
								<td> <span>Month-To-Date Churn</span> <span class="color-high">AT&T Total(%):</span> <b class="f-14">{{inar.consMonthly.churn.ATTTotal | number}}</b></td>
							</tr>
						<tbody>
					</table>
			</span>
		
		
		</div>
	</div>
</div>


<footer>
	<div class="wrapper">
		<div class="left">
			<div>Confidental and proprietary information</div>
			<div>For Internal Use Only</div>
		</div>
		<div class="right">
			<div>AT&T Mexico, LLC.</div>
			<div><b class="color-disable">DO NOT COPY OR DISTRIBUTE</b></div>
		</div>
	</div>
</footer>